In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [13]:
def extract_data(file_path):
    excel_data = pd.read_excel(file_path)
    
    client_id = excel_data.iloc[1,2]
    employee_id = excel_data.iloc[2, 2]  
    total_working_days = excel_data.iloc[3, 2] 
    total_leaves = excel_data.iloc[4, 2]  
    resource_name = excel_data.iloc[2, 4]
    project_name = excel_data.iloc[3, 4]  
   
    data = {
        'client_id' :[client_id],
        'employee_id': [employee_id],
        'total_working_days': [total_working_days],
        'total_leaves': [total_leaves],
        'resource_name': [resource_name],
        'project_name': [project_name]
    }
 
    # Convert the dictionary to a DataFrame
    df = pd.DataFrame(data)
    return df

In [14]:
def data_to_db(df, db_name, table_name):
    
    engine = create_engine(f"sqlite:///{db_name}.db")
    
    df.to_sql(table_name, engine, if_exists='replace', index=False)
    print(f"Data successfully pushed to SQLite database '{db_name}.db' in table '{table_name}'")

In [15]:
def main(file_path, db_name, table_name):
    
    df = extract_data(file_path)
    
    data_to_db(df, db_name, table_name)

In [16]:
main('Book2.xlsx', 'timesheet', 'client_data')

Data successfully pushed to SQLite database 'timesheet.db' in table 'client_data'